<div id="idLogIn" class="modal">
  
    <form class="modal-content animate" action="/Login" method="POST">
      <div class="imgcontainer">
        <span onclick="document.getElementById('idLogIn').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="{{url_for('static', filename='ressources/img_avatar2.png') }}" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id='username' required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('idLogIn').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('idLogIn');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>