{% extends 'layout.html' %}

{% block body %}
  <div align='right'>
    <FORM method="POST" action="/search_player" method="POST">
      <p>
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" name='Username' type="search" placeholder="Search for a Username"
          aria-label="Search">
      </p>
    </FORM>
  </div>
  <div class='row'>
  <h1 class='col-4'>{{Scores1[0].Username}}  </h1> <tab>
  {% if Scores1[0].Username != username %}
  {% if Isfollowing == False %}
  <FORM method="POST" action="/follow/{{username}}/{{Scores1[0].Username}} ">
    <input class="btn btn-info btn-rounded btn-sm my-0" type='submit' value="+ Follow"/>  
  </FORM> 
  {% else %}
  <FORM method="POST" action="/unfollow/{{username}}/{{Scores1[0].Username}} ">
    <input class="btn btn-warning btn-rounded btn-sm my-0" type='submit' value="+ Unfollow"/>  
  </FORM>
  {% endif %}
  {% endif %}
  </div>  
  <hr>
  <div>
    <FORM method="POST" action="/scores/{{Scores1[0].Username}}">
            <p>
                How much of lignes (default = 5) do you want for each game ? <br/>
                <input type='radio' name='NUMBER' Value='5' id='5' required/><label for="5">5 </label>
                <input type='radio' name='NUMBER' Value='10' id='10'/><label for="10">10 </label>
                <input type='radio' name='NUMBER' Value='50' id='50'/><label for="50">50</label>
                <input type='radio' name='NUMBER' Value='1000' id='1000'/><label for="1000">1000 </label>
            </p>
            <p>
                <label for="order">Order by : </label>
                <select name = 'ORDER' id = 'order'>
                    <option value = "Score">Score</option>
                    <option value = "Date">Date</option>
                    <option value = "Niveau">Reached level</option>
                </select>
            </p>
            <input class="btn btn-dark btn-rounded btn-sm my-0" type='submit' value="Search"/>  
    </FORM>
    <hr>
    <br>
        
    <h3>Game 1</h3>
    <div>The average score of '{{Scores1[0].Username}}' in the Game 1 is : {{avg1}}</div>
    <div>The best ranking of '{{Scores1[0].Username}}' in the Game 1 is : {{bestrnk1}}</div>
    <table class="table table-striped table-hover table-bordered table-sm">
    <thead class='thead-dark'>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
        <th>Reached level</th>
        <th>Score Date</th> 
      </tr>
    </thead>
      {% for Score in Scores1 %}
        <tr>
          <td>{{Score.rnk}}</td>
          <td><a href = "/scores/{{Score.Username}}">{{Score.Username}}</a></td>
          <td>{{Score.Score}}</td>
          <td>{{Score.Niveau}}</td>
          <td>{{Score.Date}}</td>
        </tr>
      {% endfor %}
    </table>
    <hr>
    <h3>Game 2</h3>
    <div>The average score of '{{Scores1[0].Username}}'in the Game 2 is : {{avg2}}</div>
    <div>The best ranking of '{{Scores1[0].Username}}' in the Game 2 is : {{bestrnk2}}</div>
    <table class="table table-striped table-hover table-bordered table-sm">
    <thead class='thead-dark'>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
        <th>Reached level</th>
        <th>Score Date</th>
      </tr>
    </thead>
      {% for Score in Scores2 %}
        <tr>
          <td>{{Score.rnk}}</td>
          <td><a href = "/scores/{{Score.Username}}">{{Score.Username}}</a></td>
          <td>{{Score.Score}}</td>
          <td>{{Score.Niveau}}</td>
          <td>{{Score.Date}}</td>
        </tr>
      {% endfor %}
  </div>
{% endblock %}
